body,html,ul,ol,dl,dt,dd,p,div{margin:0;padding: 0;}
html,body{
	font-size: 62.5%;
	color:#333;
	font-family: PingFang SC Medium;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	background: #ebebeb;
}
ul{list-style: none;}
a{
	text-decoration: none;
	color: #333;
}
.pf_re{font-family: PingFang SC Regular;}
.pf_bo{font-family: PingFang SC Bold; font-weight: bold;}
.pf_he{font-family: PingFang SC Heavy;}
.ar{font-family: arial;}

/*//////首页////////*/
.bg_color{
	background: #fff;
}
.tire_bg img{
	width: 72.27%;
	height: 36.6rem;
	padding: 2.8rem 13.865% 0;
}
.details{
	width: 100%;
	height: 9.8rem;
	box-sizing: border-box;
	padding: 0 4%;
	margin-top: 5.5rem;
	margin-bottom: 6rem;
}
.details p.name{
	font-size: 1.5rem;
	color: #666;
	font-family: arial;
	letter-spacing: 0.8px;
}
.details p.tips{
	font-size:1.3rem;
	margin-top: 1rem;
	color: #ccc;
}
.details p.price{
	font-size: 2.5rem;
	font-family: PingFang SC Bold;
	font-family: arial;
	font-weight: bold;
	margin-top: 1.5rem;
}
.details p.price span{
	font-size: 1.5rem;
}
.bottom_OrderNow{
	position: fixed;bottom:0;
	width: 100%;
	height: 6rem;
	background: #24c789;
	color: #fff;
	font-size: 2.1rem;
	text-align: center;
	line-height: 6rem;
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit*/
	user-select: none;
}
.bottom_OrderNow:active{
	background: #20b37b;
}
/*/////选择门店页////////*/
.header_title{
	width: 100%;
	height:4.2rem;
	background: #fff;
	text-align: center;
	font-size: 16px;
	font-family: PingFang SC Regular;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.header_title .SelectShop_Back{
	width:8%;
	height:100%;
	position: absolute;
}
.header_title img{
	width: 10px;
	height: 17px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -8.5px;
}
.header_title span{

	line-height: 4.2rem;
}
section .shop{
	width: 100%;
	height: 6.5rem;
	box-sizing: border-box;
	padding: 1.6rem 4% 0 4%;
	background: #fff;
	margin-top: 0.6rem;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
section .shop p.name{
	font-size: 1.5rem;
	color: #333;
	float: left;
}
section .shop p.extent{
	font-size: 1rem;
	color: #666;
	font-family: arial;
	float: right;
}
section .shop p.address{
	font-size: 1.2rem;
	color: #9b9b9b;
	clear: both;
	line-height: 2.2rem;
}
/*/////联系方式页//////*/
.bottom_OrderNow.letter_hack:active{
	background: #20b37b;
}
#box_wrap{
	position: fixed; 
	top: 0; left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(255,255,255,0.5);
	z-index: 999999;
	display: none;
}
#box_wrap .loader_box{
	width: 32%;
	height: 10rem;
	border-radius: 4px;
	background-color: rgba(76,76,76,0.5);
	position: absolute;
	left:50%;
	top:40%;
	margin-left: -16%;
	margin-top: -16%;
}
#box_wrap .loader_box img{
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -1.6rem;
	margin-top: -1.6rem;
}
.letter_hack{
	text-indent: 0.6rem;
	letter-spacing: 0.6rem;
}
.contact{
	width: 92%;
	height: 3.5rem;
	box-sizing: border-box;
	padding: 1rem 0;
	margin:0 auto;
	border-bottom: 1px solid #ccc;
}
.contact p{
	color: #333;
	font-size: 1.5rem;
	font-family: PingFang SC Bold;
	font-weight: bold;
}
.contact_name input,.contact_PhoneNum input,.IdentCode input{
	width: 93%;
	height: 5rem;
	box-sizing: border-box;
	border:1px solid #ccc;
	margin: 1.5rem 3.8% 0 3.8%;
	padding-left: 1.5rem;
	background: #fff;
	color: #333;
	font-size: 1.6rem;
	outline: none;
}
.contact_PhoneNum{
	width: 100%;
}
.contact_PhoneNum.WidthHack input{
	width: 64.5%;
	margin-right: 0;
	border-right: 0;
}
.contact_PhoneNum .SendIdentCode{
	width: 28.27%;
	height: 5rem;
	background: #24c789;
	font-size: 1.3rem;
	box-sizing: border-box;
	float: right;
	margin-top: 1.5rem;
	margin-right: 3.4%;
	display: block;
	border:1px solid #ccc;
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit*/
	user-select: none;
	text-align: center;
	line-height: 5rem;
}
.contact_PhoneNum .SendIdentCode:active{
	background: #20b37b;
}
.SendIdentCode.BgHack{
	background: #b9b9b9;
}
.contact_PhoneNum .SendIdentCode{
	color:#fff;
}
.error_tips{
	color: red;
	display:block;
	margin:0.5rem 0 -1rem 1.4rem;
	font-size: 12px;
}
/*placehold*/
.contact_name input::-webkit-input-placeholder,.contact_PhoneNum input::-webkit-input-placeholder,.IdentCode input::-webkit-input-placeholder{ /* WebKit browsers */ 
	color:#ccc;
	font-size:1.3rem;
}
/*/////用户订单详情/////*/
.user_details_shop{
	width: 100%;
	min-height: 10rem;
	box-sizing: border-box;
	background: #fff;
	margin-top: 1.3rem;
	padding-left: 3.5rem;
	padding-right: 1.5rem;
	padding-top: 1.3rem;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-size: 1.5rem;
	position: relative;
}
.user_details_shop p span{
	color: #666;
}
.user_details_shop .AddressIcon{
	position: absolute;
	left:0;
	top:50%;
	margin-top: -1rem;
	width: 3.5rem;
}
.user_details_shop .AddressIcon img{
	width: 1.4rem;
	height: 2rem;
	position: absolute;
	left: 50%;
	margin-left: -0.7rem;
}
.user_details_shop .ShopName{
	float: left;
	color: #666;
}
.user_details_shop .ShopPhoneNumber{
	float: right;
	font-family: PingFang SC Bold;
	font-family: arial;
	font-weight: bold;
}
.user_details_shop .ShopContact{
	clear: both;
	padding-top: 1rem;
}
.user_details_shop .ShopAddress{
	padding-top: 1rem;
}
.user_details_shop .ShopAddress span{
	letter-spacing: 0.5rem;
}
.CarOwner{
	width: 100%;
	min-height: 5rem;
	box-sizing: border-box;
	background: #fff;
	margin-top: 1.3rem;
	padding-left: 3.5rem;
	padding-right: 1.5rem;
	padding-top: 1.6rem;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.CarOwner .CarOwnerName{
	font-size: 1.4rem;
	float: left;
	color: #666;
}
.CarOwner .CarOwnerPhone{
	font-size: 1.5rem;
	font-family: PingFang SC Bold;
	font-family: arial;
	font-weight: bold;
	float: right;
}
.user_details_indent{
	width: 100%;
	min-height: 7.5rem;
	box-sizing: border-box;
	background: #fff;
	margin-top: 1.3rem;
	padding-left: 3.5rem;
	padding-right: 1.5rem;
	padding-top: 1.6rem;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.user_details_indent .ProductName{
	font-size: 1.4rem;
	float: left;
	width: 64.00%;
	word-wrap:break-word;
	word-break:break-all;
	line-height: 2.5rem;
	margin-top: -0.4rem;
	font-family: arial;
}
.user_details_indent .ProductPrice{
	font-size: 1.6rem;
	float: right;
	font-family: PingFang SC Heavy;
	font-family: arial;
	font-weight: bold;
}
/*/////门店订单详情/////*/
.plhack{
	padding-left: 1.5rem;
}
.Shop_Details_PhoneNumber{
	font-family: PingFang SC Medium;
	font-family: arial;
}
.user_details_shop.plhack p{
	color: #666;
	font-family: arial;
}
.user_details_shop.plhack p span{
	color: #333;
}
.ProductName.WidthHack{
	font-size: 1.5rem;
	width: 26rem;
}
.bottom_OrderNow.ServerOver_LetterHack{
	background: #b9b9b9;
}
