<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>永不爆胎</title>
		<link rel="stylesheet" href="../src/assets/css/index.css" type="text/css">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body>
		<header class="header_title">
			<img src="../src/assets/img/left.png"/><span>南山区俊红轮胎店</span>
		</header>
		<section>
			<div class="contact">
				<p>联系方式</p>
			</div>
			<div class="contact_name">
				<input type="text" value="刘军" placeholder="输入您的姓名"/>
			</div>
			<div class="contact_PhoneNum WidthHack">
				<input type="number" value="15863465983" placeholder="输入您的电话号码"/>
				<div class="SendIdentCode">
					发送验证码
				</div>
			</div>
			<div class="IdentCode">
				<input type="number" value="5295" placeholder="输入验证码"/>
			</div>
		</section>
		<footer>
			<div class="bottom_OrderNow letter_hack">
				提交
			</div>
		</footer>
	</body>
</html>
