<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>永不爆胎</title>
		<link rel="stylesheet" href="../src/assets/css/index.css" type="text/css">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>
	<body>
		<header class="header_title">
			<img src="../src/assets/img/left.png"/><span>订单详情</span>
		</header>
		<section>
			<div class="user_details_shop">
				<div class="AddressIcon">
					<img src="../src/assets/img/address.png"/>
				</div>
				<p class="ShopName">
					南山区俊红轮胎店
				</p>
				<p class="ShopPhoneNumber">
					13815634853
				</p>
				<p class="ShopContact">
					<span>联系人：</span>陈先生
				</p>
				<p class="ShopAddress">
					<span>门店地址：</span>南海大道西海岸大厦3楼3K室
				</p>
			</div>
			<div class="CarOwner">
				<div class="CarOwnerName">
					车主信息：刘军
				</div>
				<div class="CarOwnerPhone">
					15935642358
				</div>
			</div>
			<div class="user_details_indent">
				<div class="ProductName">
					经典轮胎 205/55R16 PRIMACY 3ST浩悦91W
				</div>
				<div class="ProductPrice">
					&yen; 225
				</div>
			</div>
		</section>
	</body>
</html>
